.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.signin-card {
  margin: auto;
  margin-top: 100px;
  width: 500px;
  border: 1px solid black;
  border-radius: 8px;
}

.sign-header-section {
  height: 40px;
  background-color: lightseagreen;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.select-user {
  width: 100%;
  height: 40px;
  font-size: 15px;
}

.small-avatar {
  border-radius: 100%;
}

.signin-button {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  border-radius: 8px;
}

.header-title {
  margin: 0;
  height: 40px;
  border-bottom: 1px solid black;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  color: white;
}

.home {
  margin: auto;
  max-width: 500px;
  border: 1px solid lightgray;
  border-radius: 8px;
}

.list-poll {
  border: 1px solid grey;
  border-radius: 8px;
}

.home-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  background-color: grey;
}

.list {
  padding: 0;
  list-style: none;
}

.avatar {
  margin-left: 0;
  width: 120px;
  height: 120px;
}

.poll-container {
  border: 1px solid lightgray;
  max-width: 500px;
  border-radius: 8px;
  margin: auto;
  margin-top: 60px;
}

.poll {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.poll-avatar {
  width: 180px;
  height: 180px;
  border-radius: 100%;
}

.poll-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.options-form {
  margin-top: 10px;
  border-left: 1px solid lightgray;
}

.user-header {
  color: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
  width: 200px;
}

.user-header-container {
  position: sticky;
  margin-top: 0;
  height: 40px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: lightseagreen;
}

.question-header-container {
  margin: auto;
  max-width: 500px;
  border-bottom: 1px solid gray;
}

.question-container {
  border-radius: 8px;
  margin: auto;
  max-width: 500px;
  border: 1px solid gray;
  margin-top: 60px;
}

.question-input {
  display: block;
  width: 95%;
  height: 40px;
  margin-top: 10px;
  border: 2px solid lightgray;
  border-radius: 8px;
  font-size: 15px;
}

.question-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-button {
  border-radius: 8px;
  background-color: lightseagreen;
  width: 97%;
  height: 40px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
