body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav {
  border-bottom: 2px solid lightseagreen;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 50px;
}

.nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-left: 40px;
}

.unactive-link {
  color: lightseagreen;
}

.active-link {
  background-color: lightseagreen;
  color: white;
}

.nav p {
  margin: 0;
}

.nav-link, .link {
  color: white;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin-top: 8px;
  height: 100%;
}

.signout-button {
  height: 30px;
  margin-left: 100px;
  border-radius: 5px;
  background-color: lightseagreen;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.signin-card {
  margin: auto;
  margin-top: 100px;
  width: 500px;
  border: 1px solid black;
  border-radius: 8px;
}

.sign-header-section {
  height: 40px;
  background-color: lightseagreen;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.select-user {
  width: 100%;
  height: 40px;
  font-size: 15px;
}

.small-avatar {
  border-radius: 100%;
}

.signin-button {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  border-radius: 8px;
}

.header-title {
  margin: 0;
  height: 40px;
  border-bottom: 1px solid black;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  color: white;
}

.home {
  margin: auto;
  margin-top: 60px;
  max-width: 500px;
  border: 1px solid lightgray;
  border-radius: 8px;
}

.list-poll {

  margin: auto;
  margin-top: 10px;
  width: 96%;
  border: 1px solid grey;
  border-radius: 8px;
}

.header-poll-container {
  border-bottom: 1px solid lightgray;
}

.header-poll-container h3 {
  width: 50%;
}

.question-poll-container {
  border-left: 1px solid lightgray;
  padding-left: 50px;
}

.info-poll-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}

.question-poll-button {
  width: 100px;
  border-radius: 5px;
  background-color: lightseagreen;
  height: 30px;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.home-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.header-selected {
  color: lightseagreen;
}

.unanswered-container {
  cursor: pointer;
  width: 50%;
}

.answered-container {
  cursor: pointer;
  width: 50%;
  border-left: 1px solid lightgray;
}

.answer-selected {
  border-radius: 5px;
  border: 2px solid green;
  background-color: rgba(144, 238, 144, 0.5);
  width: 100%;
}

.list {
  padding: 0;
  list-style: none;
}

.avatar {
  margin-left: 0;
  width: 120px;
  height: 120px;
}

.poll-container {
  border: 1px solid lightgray;
  max-width: 500px;
  border-radius: 8px;
  margin: auto;
  margin-top: 60px;
}

.active-link {
  background-color: lightseagreen;
  color: white;
}

.not-active-link {
  text-decoration: none;
  background-color: white;
  color: lightseagreen;
}

.poll {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.poll-avatar {
  width: 180px;
  height: 180px;
  border-radius: 100%;
}

.poll-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.poll-button {
  margin-top: 30px;
  color: white;
  background-color: lightseagreen;
  font-size: 15px;
  font-weight: bold;
  border-radius: 8px;
  width: 96%;
  height: 30px;
  margin-left: 20px;
}

.options-form {
  margin-top: 10px;
  border-left: 1px solid lightgray;
}

.user-header {
  color: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
  width: 200px;
}

.user-header-container {
  position: sticky;
  margin-top: 0;
  height: 40px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: lightseagreen;
}

.question-header-container {
  margin: auto;
  max-width: 500px;
  border-bottom: 1px solid gray;
}

.question-container {
  border-radius: 8px;
  margin: auto;
  max-width: 500px;
  border: 1px solid gray;
  margin-top: 60px;
}

.question-input {
  display: block;
  width: 95%;
  height: 40px;
  margin-top: 10px;
  border: 2px solid lightgray;
  border-radius: 8px;
  font-size: 15px;
}

.question-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-button {
  border-radius: 8px;
  background-color: lightseagreen;
  width: 97%;
  height: 40px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  border: 1px solid lightgray;
  max-width: 600px;
  height: 200px;
  max-height: 200px;
  margin: auto;
  margin-top: 30px;
}

.card-avatar {
  height: 60%;
  width: 25%;
}

.card-stats {
  width: 50%;
  border-left: 1px solid lightgray;
}

.card-score {
  width: 25%;
}

.score-container {
  border-radius: 8px;
  border: 1px solid lightgray;
  height: 85%;
  margin-top: 10px;
  margin-right: 10px;
}

.score {
  margin: auto;
  margin-top: 30px;
  border-radius: 100%;
  color: white;
  font-weight: bold;
  font-size: 20px;
  background-color: lightseagreen;
  width: 40px;
  height: 40px;
  border: 1px solid lightseagreen;
}

.score-header {
  border-bottom: 1px solid lightgray;
}
